.main-focus{
    background-image: linear-gradient(to right, #0C2D48 , #B1D4E0);
    width: 100%;
    height: 600px;
}
.mainhead1{
    color: rgb(240, 240, 240);
    padding: 150px;
    transform: rotate(90deg);
    
}